<section class="login-section">
    <div class="login-section_form">
        <div class="login-section_head">
            <h2>Login</h2>
            <p class="text-white-50 ab-5">Please enter your logi and password!</p>
        </div>
       <form action="" #loginForm="ngForm" class="login-section__form--form-element">
        <div class="login-section_form--field">
            <input id="username" name="username" type="text" class="form-control form-control-input" [(ngModel)]="loginFormModel.username" required>
            <label for="loginFormModel">Email</label>
        </div>
        <div class="login-section_form--field">
            <input id="password" name="password" type="password" class="form-control form-control-input" [(ngModel)]="loginFormModel.password" required >
            <label for="password">password</label>
        </div>
        <p><a href="#">Forgot password</a></p>
    
        <button [disabled]="!loginForm.valid" class="btn btn-outline-light btn-lg px-5" *ngIf="!authSirvice.isLoggedIn" (click)="login(loginForm)">Login</button>
        <button class="btn btn-outline-light btn-lg px-5" *ngIf="authSirvice.isLoggedIn" (click)="logout()">Logout</button>
       </form>
    </div>
</section>
